@import "tailwindcss";

@theme {
    --color-putih: #F5F5F5 ;
    --color-hitam: #0E0E0E ;
    
}

html{
    scroll-behavior: smooth;
}

body {
    color: #0E0E0E;
}

p{
    font-family: 'Space Grotesk', sans-serif;
}

h1{
    font-family: 'Sofia Sans Condensed', sans-serif;
}
